body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/*Estilização da MAIN*/

.main-Container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}



/*Estilização do HEADER e da NAVBAR*/

.header-Container{
  background-color: #222222;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-Title{
  font-size: 1.4rem;
  color: mintcream;
}

.header-Title span{
  color: rgb(229, 229, 27);
}

.navbar-Container{
  background-color:rgb(250, 235, 215);
  width: 30%;
  margin-left: 5rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.navbar-item{
  background-color: #222222;
  color: mintcream;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  width: 5rem;
  padding: 0.3rem;
  transition: all 0.2s;
}

.navbar-item:focus{
  background-color: rgb(229, 229, 27);
  color: #222222;
  transition: all 0.2s;
}

.navbar-item:hover{
  background-color: rgb(229, 229, 27);
  color: #222222;
  transition: all 0.2s;
}



/*Estilização dos CARDS*/
.stock-Card{
  background-color: #222222;
  border-radius: 2rem;
  width: 20rem;
  margin: 1rem;
  padding: 1rem;
}

.stock-Symbol{
  color: rgb(229, 229, 27);
}

.stock-Name{
  color: mintcream;
}