.mainContainer{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.header{
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #48dcf3;
}

.pageTitle{
  font-size: 2.3rem;
  color: #fff;
}

.cardContainer{
  background-color: #48dcf368;
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.cardTitle{
  background-color: #ffffff;
  display: flex;
  width: 70%;
  border-radius: 2rem;
  font-size: 1.5rem;
  margin: 0.3rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  color: #48dcf3;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.cardImage{
  width: 50%;
}

.cardSubtitle{
  background-color: antiquewhite;
  width: 70%;
  padding: 0.3rem;
  margin: 0.5rem;
}

.cardButton{
  background-color: #48dcf3;
  color: #fff;
  width: 18%;
  font-size: 1.2rem;
  border-radius: 0.7rem;
  border: none;
  padding: 0.3rem;
  margin: 0.5rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
}

.cardButton:focus{

}
