*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.header-container{
    background-color: #00b3ff;
    align-items: center;
    gap: 4rem;
    display: flex;
    padding: 1.5rem;
    justify-content: center;
}

.title{
    color: #ffffff;
    font-size: 2.3rem;
}

.pagesLinks{
    background-color: #ffffff;
    border-radius: 1rem;
    display: flex;
    width: 21rem;
    height: 2.7rem;
    padding: 0.3rem;
    justify-content: center;
}

.link{
    font-weight: bolder;
    color: #00b3ff;
    padding: 0.6rem ;
    margin: 0.2rem;
    transition: ease-in-out 0.4s;
}

.link:focus{
    margin: 0.2rem;
    padding: 0.5rem;
    border-radius: 0.8rem;
    background-color: #00b3ff;
    color: #ffffff;
    transition: ease-in-out 0.4s;
    outline: none;
    transform: scale3d(1.25, 1.25, 1.25);
}

